Repository fac27/mood-map: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, format:fix, eslint, prettier --write

login redirects
  src/app/login/page.js
Due: lint, format:fix, eslint, prettier --write

remove home link
  src/app/login/page.js
Due: lint, format:fix, eslint, prettier --write

WIP push to remote branch
  jsconfig.json
  src/app/life-in-colour/page.tsx
  src/components/Entry.tsx
  src/lib/getEntries.js
  src/lib/server/session.js
  tsconfig.json
Due: lint, format:fix, eslint, prettier --write

Prettier
  jsconfig.json
  src/app/life-in-colour/page.tsx
  src/components/Entry.tsx
  src/lib/getEntries.js
  src/lib/server/session.js
  tsconfig.json
Due: lint, format:fix, eslint, prettier --write

fixed console logs
  .eslintrc.cjs
  src/app/login/page.js
  src/components/DetailsModal.js
Due: lint, format:fix, eslint, prettier --write

fix: husky
  .eslintrc.cjs
Due: none

added details to readME
  README.md
Due: none

Update README.md
  README.md
Due: none

make svgs into objects and give random colour
  src/app/login/page.js
  src/app/page.js
  src/app/page.module.css
  src/utils/blobGenerator.js
  src/utils/blobHelpers.js
  src/utils/checkColourBrightness.js
Due: lint, format:fix, eslint, prettier --write

Retrieved data from entries and display colours in /life-in-colour
  src/app/life-in-colour/page.module.css
  src/app/life-in-colour/page.tsx
  src/components/Entry.tsx
  src/lib/getEntries.js
  src/utils/dateHelpers.ts
Due: lint, format:fix, eslint, prettier --write

fit text into blobs
  src/app/globals.css
  src/app/layout.js
  src/app/page.js
  src/app/page.module.css
  src/utils/blobHelpers.js
Due: lint, format:fix, eslint, prettier --write

Populate LIC from DB
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

change text colour depending on the blob colour
  src/app/page.js
  src/app/page.module.css
  src/utils/blobHelpers.js
  src/utils/blobSvgs.js
  src/utils/colorConversion.js
Due: lint, format:fix, eslint, prettier --write

done
  src/utils/colorConversion.js
Due: lint, format:fix, eslint, prettier --write

remove export from checkColourBrightness fn
  src/utils/blobHelpers.js
Due: lint, format:fix, eslint, prettier --write

Add <Entry> interface definition and refactor LIC page.tsx
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

Prettier
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

husky fix
  README.md
  src/app/detail/page.js
  src/components/DetailsModal.tsx
Due: lint, format:fix, eslint, prettier --write

n/a
  src/components/DetailsModal.tsx
Due: lint, format:fix

almost
  src/app/login/page.js
  src/app/page.js
  src/components/DetailsModal.js
  src/lib/browser/session.js
  src/lib/checkUser.js
  src/lib/server/session.js
Due: lint, format:fix, eslint, prettier --write

Re-enable Entry popup
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

Remove Entry popup
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

session
  src/app/page.js
Due: lint, format:fix, eslint, prettier --write

login fix
  src/app/login/page.js
  src/app/page.js
  src/lib/browser/session.js
  src/lib/server/session.js
Due: lint, format:fix, eslint, prettier --write

updating path to tsx file
  src/app/mood/page.js
  src/components/DetailsModal.js
  src/components/DetailsModal.tsx
Due: lint, format:fix, eslint, prettier --write

removed console log
  src/components/DetailsModal.tsx
Due: lint, format:fix

removed console logs
  src/components/DetailsModal.tsx
Due: lint, format:fix

added protectio for life in color
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

Update page.tsx
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

row entry update fixed and removed js file
  src/app/mood/page.js
  src/components/DetailsModal.js
  src/components/DetailsModal.tsx
  src/components/psudocode.tsx
Due: lint, format:fix, eslint, prettier --write

fix: removed redundant file
  src/app/mood/page.js
  src/components/DetailsModal.tsx
  src/components/psudocode.tsx
Due: lint, format:fix, eslint, prettier --write

error handling in details form
  src/components/DetailsModal.js
  src/components/DetailsModal.module.css
Due: lint, format:fix, eslint, prettier --write

removed id from getEntries
  src/lib/getEntries.js
Due: lint, format:fix, eslint, prettier --write

feat: changed navbar routes & images removed pngs changed paths to images and ts files
  public/images/Smiley.svg
  public/images/calendar.png
  public/images/calendar.svg
  public/images/graph.png
  public/images/home.png
  public/images/home.svg
  src/app/life-in-colour/page.tsx
  src/components/DetailsModal.tsx
  src/components/Navbar.js
  src/components/Navbar.tsx
Due: lint, format:fix, eslint, prettier --write

fix: husky edits
  src/app/life-in-colour/page.tsx
  src/components/Navbar.tsx
Due: lint, format:fix

fixed type in details modal component
  src/components/DetailsModal.tsx
Due: lint, format:fix

husky fix
  src/components/DetailsModal.tsx
Due: lint, format:fix

type change
  src/components/DetailsModal.tsx
Due: lint, format:fix

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format:fix: any of: *.{js,jsx,ts,tsx}
  eslint: ((any of: *.ts) or (any of: **/*.{js,jsx})) or (any of: *.html)
  prettier --write: (((any of: *.ts) or (any of: **/*.{js,jsx})) or (any of: *.html)) or (any of: *.scss)
