Repository fac27/mood-map: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, format:fix, eslint, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["lint", "format:fix"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "**/*.{js,jsx}": ["eslint", "prettier --write"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}

attemp 3
  src/app/mood/page.tsx
Due: lint, format:fix

type ??
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

fix: husky
  src/app/life-in-colour/page.tsx
  src/app/login/components/LoginForm.tsx
  src/app/login/page.tsx
Due: lint, format:fix

merge with main x2
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

fix: husky
  src/app/life-in-colour/page.tsx
  src/app/mood/components/MoodPicker.tsx
Due: lint, format:fix

add any to data in LoginForm component
  src/app/login/components/LoginForm.tsx
Due: lint, format:fix

add any to data in LoginForm component
  src/app/login/components/LoginForm.tsx
  src/app/login/page.tsx
Due: lint, format:fix

Update page.tsx
  src/app/page.tsx
Due: lint, format:fix

Delete middleware.ts
  middleware.ts
Due: lint, format:fix, eslint, prettier --write

double login componenet -
  src/components/Login.tsx
Due: lint, format:fix

intial
  pnpm-lock.yaml
  src/app/life-in-colour/page.tsx
  src/app/page.tsx
  tsconfig.json
Due: lint, format:fix

prettier
  pnpm-lock.yaml
  src/app/life-in-colour/page.tsx
  src/app/page.tsx
  tsconfig.json
Due: lint, format:fix

login page styled but next is heavy again
  public/images/sunny1.jpg
  public/images/sunny2.jpg
  public/images/suuny3.jpg
  src/app/login/components/LoginForm.tsx
  src/app/login/page.module.css
  src/app/page.tsx
Due: lint, format:fix

intial
  src/app/life-in-colour/components/GridDays.tsx
  src/app/life-in-colour/page.tsx
  src/app/login/components/LoginForm.tsx
  src/app/page.tsx
  src/components/Entry.tsx
  src/components/SpotifyPlayer.tsx
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

clean up
  src/app/life-in-colour/components/GridDays.tsx
  src/app/login/components/LoginForm.tsx
  src/app/page.tsx
  src/components/Entry.tsx
  src/components/SpotifyPlayer.tsx
Due: lint, format:fix

clear up 2
  src/app/life-in-colour/components/GridDays.tsx
  src/components/Logout.tsx
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

Added current and all time streak to home route
  public/images/flame.svg
  src/app/page.module.css
  src/app/page.tsx
  src/components/StreakDisplay.module.css
  src/components/StreakDisplay.tsx
  src/types/types.ts
  src/utils/getStreaks.ts
Due: lint, format:fix, eslint, prettier --write

Prettier
  src/app/life-in-colour/page.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/components/StreakDisplay.module.css
  src/components/StreakDisplay.tsx
  src/types/types.ts
  src/utils/getStreaks.ts
Due: lint, format:fix, eslint, prettier --write

fiddling
  seedData.csv
  src/app/life-in-colour/components/GridDays.tsx
  src/components/Entry.tsx
  src/components/SpotifyPlayer.tsx
  src/lib/models.ts
  src/utils/dateHelpers.ts
  src/utils/sanitize.ts
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

removed sunny images
  public/images/sunny1.jpg
  public/images/sunny2.jpg
  public/images/suuny3.jpg
Due: none

changes
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

Use state to hold streak data
  src/components/StreakDisplay.tsx
Due: lint, format:fix

Prettier
  src/components/StreakDisplay.tsx
Due: lint, format:fix

changes
  src/app/login/components/LoginForm.tsx
  src/app/page.tsx
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

fix: typo on page.tsx for login
  cypress/e2e/authRoute.cy.ts
  jest.config.ts
  src/.middleware.ts
  src/app/auth/callback/route.ts
  src/app/login/components/LoginForm.tsx
  src/app/mood/components/MoodPicker.tsx
  src/components/Entry.tsx
  src/components/Logout.tsx
  src/lib/models.ts
  src/test/lifeincolour.test.tsx
  src/utils/dateHelpers.ts
  src/utils/getStreaks.ts
Due: lint, format:fix, eslint, prettier --write

merge ts error
  src/app/mood/page.tsx
Due: lint, format:fix

refactored auth
  src/app/page.tsx
Due: lint, format:fix

Prettier
  src/app/page.module.css
  src/app/page.tsx
  src/components/StreakDisplay.module.css
  src/components/StreakDisplay.tsx
  src/types/types.ts
  src/utils/getStreaks.ts
Due: lint, format:fix, eslint, prettier --write
