Repository fac27/mood-map: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, format:fix, eslint, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["lint", "format:fix"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "**/*.{js,jsx}": ["eslint", "prettier --write"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}

Update supabase client refs to utils folder
  package-lock.json
  src/app/login/page.js
Due: lint, format:fix, eslint, prettier --write

Update refs in /mood
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

Public refs in /mmod
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

fix: paths, tsx file duplicate life-in-colour fold
  package-lock.json
  package.json
  src/app/layout.js
  src/app/life-in-colour/page.tsx
  src/app/page.js
  tsconfig.json
Due: lint, format:fix, eslint, prettier --write

husky fix
  src/app/layout.js
  src/app/life-in-colour/page.tsx
  tsconfig.json
Due: lint, format:fix, eslint, prettier --write

.
  .vscode/settings.json
  src/middleware.js
Due: lint, format:fix, eslint, prettier --write

?
  .vscode/settings.json
Due: none

husky fix
  package-lock.json
Due: none

home route verifies user
  src/app/login/page.js
  src/app/page.js
  src/lib/supabaseClientBrowser.js
Due: lint, format:fix, eslint, prettier --write

added high fed svg images
  .eslintrc.js
  .eslintrc.json
  .husky/pre-commit
  src/app/login/page.js
  src/app/mood/page.js
  src/app/page.js
  src/app/page.module.css
  src/public/images/emo1.png
  src/public/images/emo1.svg
  src/public/images/emo2.png
  src/public/images/emo2.svg
  src/public/images/emo3.png
  src/public/images/emo3.svg
  src/public/images/emo4.png
  src/public/images/emo4.svg
  src/public/images/emo5.png
  src/public/images/emo5.svg
  src/utils/blobGenerator.js
  src/utils/checkColourBrightness.js
  src/utils/supabaseClient.js
Due: lint, format:fix, eslint, prettier --write

fix: changed paths & Navbag
  src/app/page.js
Due: lint, format:fix, eslint, prettier --write

Navbar
  package-lock.json
Due: none

comment
  src/app/page.js
Due: lint, format:fix, eslint, prettier --write

blobs added
  src/app/page.js
  src/app/page.module.css
  src/components/Navbar.module.css
  src/utils/blobGenerator.js
Due: lint, format:fix, eslint, prettier --write

initial home page styling
  src/app/page.js
  src/app/page.module.css
  src/utils/blobGenerator.js
Due: lint, format:fix, eslint, prettier --write

Add @ to next.config
  next.config.js
  src/components/Navbar.js
Due: lint, format:fix, eslint, prettier --write

Prettier
  next.config.js
Due: lint, format:fix, eslint, prettier --write

supabase client contains both ssr and csr methods
  src/app/detail/page.js
  src/app/entry/[entry]/page.js
  src/app/login/page.js
  src/app/mood/page.js
  src/app/page.js
  src/lib/supabaseClient.js
  src/lib/supabaseClientBrowser.js
  src/lib/supabaseSession.js
  src/middleware.js
Due: lint, format:fix, eslint, prettier --write

added Entry component
  package-lock.json
  src/app/life-in-colour/page.tsx
  src/components/Entry.js
Due: lint, format:fix, eslint, prettier --write

husky fix
  src/app/life-in-colour/page.tsx
  src/components/Entry.js
Due: lint, format:fix, eslint, prettier --write

checkuser
  src/lib/supabaseSession.js
Due: lint, format:fix, eslint, prettier --write

separating concerns
  cypress/e2e/authRoutes.cy.js
  src/app/page.js
  src/lib/browser/client.js
  src/lib/browser/session.js
  src/lib/checkUser.js
  src/lib/server/client.js
  src/lib/server/session.js
  src/lib/supabaseClient.js
  src/lib/supabaseSession.js
Due: lint, format:fix, eslint, prettier --write

added
  cypress/e2e/authRoutes.cy.js
Due: lint, format:fix, eslint, prettier --write

Added seed data in seedData.csv
  seedData.csv
Due: none

fix
  src/app/login/page.js
  src/lib/browser/session.js
  src/lib/server/session.js
Due: lint, format:fix, eslint, prettier --write

style: entry page
  package-lock.json
  src/app/entry/[entry]/page.js
  src/components/Entry.js
  src/components/Exit.js
  src/components/Exit.module.css
Due: lint, format:fix, eslint, prettier --write

chore: added end of day notes to SST
  sst.md
Due: none

chore: added notes to sst
  sst.md
Due: none

tests
  cypress/e2e/authRoutes.cy.js
Due: lint, format:fix, eslint, prettier --write

uncomment husky
  .husky/pre-commit
  src/app/page.js
Due: lint, format:fix, eslint, prettier --write

added ts-node in package.json
  package.json
Due: none

working version
  .vscode/settings.json
  mood-map.code-workspace
  src/utils/fonts.js
  supabase/.gitignore
  supabase/config.toml
  supabase/functions/.vscode/extensions.json
  supabase/functions/.vscode/settings.json
  supabase/seed.sql
Due: lint, format:fix, eslint, prettier --write

moved inline styling from the life-in-colour page
  src/app/life-in-colour/page.module.css
  src/app/life-in-colour/page.tsx
  src/app/login/page.js
Due: lint, format:fix, eslint, prettier --write

browser client example
  .vscode/settings.json
  src/app/mood/page.js
  src/app/page.js
  src/lib/browser/session.js
  src/lib/server/session.js
Due: lint, format:fix, eslint, prettier --write

moved cypress examples to examples folder
  cypress/e2e/authRoutes.cy.js
  cypress/examples/1-getting-started/todo.cy.js
  cypress/examples/2-advanced-examples/actions.cy.js
  cypress/examples/2-advanced-examples/aliasing.cy.js
  cypress/examples/2-advanced-examples/assertions.cy.js
  cypress/examples/2-advanced-examples/connectors.cy.js
  cypress/examples/2-advanced-examples/cookies.cy.js
  cypress/examples/2-advanced-examples/cypress_api.cy.js
  cypress/examples/2-advanced-examples/files.cy.js
  cypress/examples/2-advanced-examples/location.cy.js
  cypress/examples/2-advanced-examples/misc.cy.js
  cypress/examples/2-advanced-examples/navigation.cy.js
  cypress/examples/2-advanced-examples/network_requests.cy.js
  cypress/examples/2-advanced-examples/querying.cy.js
  cypress/examples/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/examples/2-advanced-examples/storage.cy.js
  cypress/examples/2-advanced-examples/traversal.cy.js
  cypress/examples/2-advanced-examples/utilities.cy.js
  cypress/examples/2-advanced-examples/viewport.cy.js
  cypress/examples/2-advanced-examples/waiting.cy.js
  cypress/examples/2-advanced-examples/window.cy.js
Due: lint, format:fix, eslint, prettier --write

husky run cypress tests
  .husky/pre-push
Due: none

fix duplicate public directory issue
  public/images/emo1.png
  public/images/emo1.svg
  public/images/emo2.png
  public/images/emo2.svg
  public/images/emo3.png
  public/images/emo3.svg
  public/images/emo4.png
  public/images/emo4.svg
  public/images/emo5.png
  public/images/emo5.svg
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

fix: CSS and typescript for entry componenet
  src/components/Entry.js
  src/components/Entry.module.css
  src/components/Entry.tsx
Due: lint, format:fix, eslint, prettier --write

fix: husky
  src/components/Entry.module.css
  src/components/Entry.tsx
Due: lint, format:fix

login does not redirect to home if logged in but made a start and commented oyut
  .husky/pre-push
  cypress/e2e/authRoutes.cy.js
  cypress/screenshots/authRoutes.cy.js/Test  route redirects to login if no valid session -- should not redirect but should instead show email (failed).png
  cypress/screenshots/authRoutes.cy.js/Test  route redirects to login if no valid session -- should redirect to login if no session (failed).png
  cypress/screenshots/authRoutes.cy.js/Test mood route redirects to login if no valid session -- should not redirect but should instead show email (failed).png
  cypress/screenshots/authRoutes.cy.js/Test mood route redirects to login if no valid session -- should redirect to login if no session (failed).png
  cypress/videos/authRoutes.cy.js.mp4
  src/app/login/page.js
Due: lint, format:fix, eslint, prettier --write
