Repository fac27/mood-map: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, format:fix, eslint, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["lint", "format:fix"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "**/*.{js,jsx}": ["eslint", "prettier --write"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}

removed scresnhots and videos
  .gitignore
  cypress/screenshots/authRoutes.cy.js/Test  route redirects to login if no valid session -- should not redirect but should instead show email (failed).png
  cypress/screenshots/authRoutes.cy.js/Test  route redirects to login if no valid session -- should redirect to login if no session (failed).png
  cypress/screenshots/authRoutes.cy.js/Test mood route redirects to login if no valid session -- should not redirect but should instead show email (failed).png
  cypress/screenshots/authRoutes.cy.js/Test mood route redirects to login if no valid session -- should redirect to login if no session (failed).png
  cypress/videos/authRoutes.cy.js.mp4
Due: none

tsx packages
  package-lock.json
Due: none

fixed path
  src/app/entry/[entry]/page.js
Due: lint, format:fix, eslint, prettier --write

removed unnecesary joesfin snas import
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

fix: path in exit.js
  src/components/Exit.js
Due: lint, format:fix, eslint, prettier --write

svg
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

nvabr in details page
  src/app/detail/page.js
Due: lint, format:fix, eslint, prettier --write

mood page styled
  src/app/login/page.js
  src/app/login/page.module.css
  src/app/mood/page.js
  src/app/mood/page.module.css
Due: lint, format:fix, eslint, prettier --write

add icons to detail page
  package-lock.json
  package.json
  src/app/detail/page.js
  src/app/detail/page.module.css
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

remove details page!
  src/app/detail/page.js
  src/app/detail/page.module.css
  src/app/life-in-colour/page.tsx
  src/app/login/page.js
  src/utils/getDays.ts
Due: lint, format:fix, eslint, prettier --write

yeseva next fonts
  src/app/globals.css
Due: none

Create add mood form
  src/app/mood/page.js
  src/app/mood/page.module.css
Due: lint, format:fix, eslint, prettier --write

Prettier
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

added vector, added state to life-in-colour page so that yyou can open and close modal
  public/images/Vector.svg
  src/app/life-in-colour/page.module.css
  src/app/life-in-colour/page.tsx
  src/components/Entry.module.css
  src/components/Entry.tsx
Due: lint, format:fix

removed entry route
  src/app/entry/[entry]/page.js
Due: lint, format:fix, eslint, prettier --write

move svg images to root public directory
  public/images/emo1.png
  public/images/emo1.svg
  public/images/emo2.png
  public/images/emo2.svg
  public/images/emo3.png
  public/images/emo3.svg
  public/images/emo4.png
  public/images/emo4.svg
  public/images/emo5.png
  public/images/emo5.svg
  src/app/life-in-colour/page.tsx
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

added more typescript + encoding package
  package-lock.json
  package.json
  src/components/Entry.tsx
Due: lint, format:fix

loop for elements
  public/images/Untitled.jpg
  src/app/mood/page.js
  src/components/DetailsModal.js
  src/components/DetailsModal.module.css
  src/components/Entry.module.css
Due: lint, format:fix, eslint, prettier --write

add: default route to config & initial route test
  cypress.config.js
  cypress/e2e/app.cy.js
  sst.md
Due: lint, format:fix, eslint, prettier --write

fix: husky
  cypress.config.js
  cypress/e2e/app.cy.js
Due: lint, format:fix, eslint, prettier --write

capital function to use react hooks
  src/app/login/page.js
Due: lint, format:fix, eslint, prettier --write

life in colour page done
  src/app/life-in-colour/page.module.css
  src/app/life-in-colour/page.tsx
  src/utils/dateHelpers.ts
  src/utils/getDays.ts
Due: lint, format:fix, eslint, prettier --write

life in colour page done
  src/utils/dateHelpers.ts
Due: lint, format:fix, eslint, prettier --write

console warn\
  .eslintrc.cjs
  src/app/login/page.js
Due: lint, format:fix, eslint, prettier --write

final revision
  src/components/DetailsModal.js
Due: lint, format:fix, eslint, prettier --write

fix merge conflicts
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

key prop
  src/components/DetailsModal.js
  src/components/DetailsModal.module.css
Due: lint, format:fix, eslint, prettier --write

Adjust @ in vscode
  jsconfig.json
  src/app/life-in-colour/page.tsx
  tsconfig.json
Due: lint, format:fix

Prettier
  jsconfig.json
  tsconfig.json
Due: none

revert life in colour page back to old style
  src/app/life-in-colour/oldpage.module.css
  src/app/life-in-colour/oldpage.tsx
  src/app/life-in-colour/page.module.css
  src/app/life-in-colour/page.tsx
  src/utils/dateHelpers.ts
Due: lint, format:fix, eslint, prettier --write

fixing eslint config
  .eslintrc.cjs
  jest.config.ts
  jest.setup.js
  package-lock.json
  package.json
  src/app/life-in-colour/page.tsx
  src/app/page.js
  src/components/Navbar.js
  src/test/lifeincolour.test.tsx
  sst.md
  tsconfig.json
Due: lint, format:fix, eslint, prettier --write

all tests passing
  src/test/lifeincolour.test.tsx
Due: lint, format:fix

details modal styled
  src/app/mood/page.js
  src/components/DetailsModal.js
  src/components/DetailsModal.module.css
Due: lint, format:fix, eslint, prettier --write

entry modal is styled
  src/components/Entry.module.css
Due: none

file name
  src/components/DetailsModal.tsx
Due: lint, format:fix

?
  src/components/DetailsModal.tsx
Due: lint, format:fix

mood page hotfix
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

?
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

whoops again
  src/app/mood/page.js
Due: lint, format:fix, eslint, prettier --write

fix: importing getDays
  package-lock.json
  src/app/life-in-colour/page.tsx
Due: lint, format:fix
