Repository fac27/mood-map: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, format:fix, eslint, prettier --write

date function - supabase friendly
  src/app/page.js
  src/components/DetailsModal.tsx
  src/lib/date.ts
  src/lib/models.ts
Due: lint, format:fix, eslint, prettier --write

test set up better but redirect not working - possibly next 13 issues
  jest.config.ts
  jest.setup.js
  src/app/life-in-colour/page.tsx
  src/test/lifeincolour.test.tsx
Due: lint, format:fix, eslint, prettier --write

husky
  jest.config.ts
  jest.setup.js
  src/test/lifeincolour.test.tsx
Due: lint, format:fix, eslint, prettier --write

removed error
  src/app/login/page.js
Due: lint, format:fix, eslint, prettier --write

linting
  src/app/life-in-colour/page.tsx
  src/lib/browser/session.js
  src/lib/server/session.js
Due: lint, format:fix, eslint, prettier --write

Minor tweaks LiC
  src/app/life-in-colour/page.module.css
  src/components/Entry.module.css
Due: none

added entry data into homepage
  src/app/life-in-colour/oldpage.module.css
  src/app/life-in-colour/oldpage.tsx
  src/app/page.js
  src/app/page.module.css
  src/components/Logout.tsx
  src/lib/date.ts
  src/utils/blobHelpers.js
Due: lint, format:fix, eslint, prettier --write

Removed space from around emojis so can be sized accurately
  public/images/emo1.svg
  public/images/emo2.svg
  public/images/emo3.svg
  public/images/emo4.svg
  public/images/emo5.svg
  src/lib/date.ts
Due: lint, format:fix, eslint, prettier --write

quick fixes
  src/app/life-in-colour/page.tsx
  src/test/lifeincolour.test.tsx
Due: lint, format:fix

husky fix
  src/lib/date.ts
Due: lint, format:fix, eslint, prettier --write

removed redundant files
  src/app/life-in-colour/oldpage.module.css
  src/app/life-in-colour/oldpage.tsx
  src/components/DetailsModal.js
  src/components/UserWidget.js
Due: lint, format:fix, eslint, prettier --write

converted utils folder to typescript
  src/types/types.ts
  src/utils/blobHelpers.ts
  src/utils/blobSvgs.ts
  src/utils/colorConversion.ts
  src/utils/fonts.ts
Due: lint, format:fix, eslint, prettier --write

trailing commas removed
  src/utils/blobHelpers.ts
  src/utils/colorConversion.ts
  src/utils/fonts.ts
Due: lint, format:fix, eslint, prettier --write

Refactored date.ts and models.ts to full typescript
  src/lib/date.ts
  src/lib/models.ts
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

Prettier
  src/lib/models.ts
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

mreged with main and updated blob helpers
  src/utils/blobHelpers.ts
Due: lint, format:fix, eslint, prettier --write

husky fix
  src/utils/blobHelpers.ts
Due: lint, format:fix, eslint, prettier --write

Update types.ts
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

ts refactor of lib folder complete
  src/app/life-in-colour/page.tsx
  src/lib/browser/client.ts
  src/lib/browser/session.ts
  src/lib/server/client.ts
  src/lib/server/session.ts
Due: lint, format:fix, eslint, prettier --write

refactored home layout and cypress tests
  cypress/e2e/app.cy.js
  cypress/e2e/app.cy.ts
  cypress/e2e/authRoute.cy.ts
  cypress/e2e/authRoutes.cy.js
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.js
  src/app/page.tsx
Due: lint, format:fix, eslint, prettier --write

husky fix
  cypress/e2e/app.cy.ts
  cypress/tsconfig.json
  src/app/page.tsx
Due: lint, format:fix, eslint, prettier --write

removed cypress support file
  cypress/support/commands.js
  cypress/support/e2e.js
Due: lint, format:fix, eslint, prettier --write

intiial
  src/app/page.js
  src/components/DetailsModal.js
  src/components/DetailsModal.tsx
  src/components/Exit.tsx
  src/components/UserWidget.js
  src/lib/server/client.js
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

fixed type issue
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

?
  src/app/page.js
  src/components/DetailsModal.tsx
  src/components/Exit.tsx
Due: lint, format:fix, eslint, prettier --write

removed conosle
  src/app/page.js
Due: lint, format:fix, eslint, prettier --write

fix: cypress config file
  cypress/tsconfig.json
Due: none

fix: cypress config
  cypress/tsconfig.json
Due: none

husky fix
  cypress/tsconfig.json
Due: none

fix: cypress file
  cypress/tsconfig.json
Due: none

conditional form element type
  src/components/DetailsModal.tsx
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

fixed blob error on the homepage
  src/app/page.js
  src/app/page.module.css
Due: lint, format:fix, eslint, prettier --write

fix: typescript config
  cypress/tsconfig.json
  tsconfig.json
Due: none

fix: husky
  tsconfig.json
Due: none

fix: removed text
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

removed text
  src/utils/blobSvgs.ts
Due: lint, format:fix, eslint, prettier --write

Fix possible null ref from type change in blobHelpers
  src/utils/blobHelpers.ts
Due: lint, format:fix, eslint, prettier --write

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format:fix: any of: *.{js,jsx,ts,tsx}
  eslint: ((any of: *.ts) or (any of: **/*.{js,jsx})) or (any of: *.html)
  prettier --write: (((any of: *.ts) or (any of: **/*.{js,jsx})) or (any of: *.html)) or (any of: *.scss)
