Repository fac27/mood-map: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, format:fix, eslint, prettier --write

fix: husky & merge
  src/app/login/components/LoginForm.tsx
Due: lint, format:fix

adding in error handling to spotifyHelper
  src/app/page.tsx
  src/components/Entry.tsx
  src/components/SpotifyPlayer.tsx
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

fix: husky
  src/components/SpotifyPlayer.tsx
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

Fix current streak if no entry for today
  src/components/StreakDisplay.tsx
  src/utils/getStreaks.ts
Due: lint, format:fix, eslint, prettier --write

fix: removed pnpm
  package-lock.json
  pnpm-lock.yaml
Due: none

fixing types
  src/utils/sanitize.ts
Due: lint, format:fix, eslint, prettier --write

? wtf
  src/components/SpotifyPlayer.tsx
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

husky fix
  src/app/auth/callback/route.ts
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

edi
  src/components/SpotifyPlayer.tsx
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

Update README.md
  README.md
Due: none

error handling v1
  src/.middleware.ts
  src/app/auth/callback/route.ts
  src/app/login/components/LoginForm.tsx
  src/app/login/page.module.css
  src/middleware.ts
Due: lint, format:fix, eslint, prettier --write

merged into main
  README.md
Due: none

last fixes
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

fixing spotify helpers
  src/utils/spotifyHelper.ts
Due: lint, format:fix, eslint, prettier --write

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format:fix: any of: *.{js,jsx,ts,tsx}
  eslint: ((any of: *.ts) or (any of: **/*.{js,jsx})) or (any of: *.html)
  prettier --write: (((any of: *.ts) or (any of: **/*.{js,jsx})) or (any of: *.html)) or (any of: *.scss)
