Repository fac27/mood-map: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, format:fix, eslint, prettier --write

husky fix
  src/components/DetailsModal.tsx
Due: lint, format:fix

type!
  src/components/DetailsModal.tsx
Due: lint, format:fix

fix: types on Mood
  src/components/DetailsModal.tsx
Due: lint, format:fix

type fixes
  src/components/DetailsModal.tsx
Due: lint, format:fix

fix type
  src/components/DetailsModal.tsx
Due: lint, format:fix

fix: event type
  src/components/DetailsModal.tsx
Due: lint, format:fix

fix: type form element options undefined
  src/components/DetailsModal.tsx
Due: lint, format:fix

Get entry Id on click
  src/app/life-in-colour/page.tsx
  src/lib/getEntries.ts
  src/lib/getEntriesOld.js
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

Prettier
  src/app/life-in-colour/page.tsx
  src/lib/getEntries.ts
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

fs
  src/app/life-in-colour/page.tsx
  src/app/mood/page.js
  src/components/DetailsModal.js
  src/lib/db/createEntry.js
  src/lib/db/getEntries.js
Due: lint, format:fix, eslint, prettier --write

Fetch entry detail and display on click
  src/app/life-in-colour/page.tsx
  src/components/Entry.tsx
  src/lib/getEntries.ts
Due: lint, format:fix, eslint, prettier --write

Prettier
  src/app/life-in-colour/page.tsx
  src/components/Entry.tsx
  src/lib/getEntries.ts
Due: lint, format:fix, eslint, prettier --write

Fix broken close svg import path
  src/components/Entry.tsx
Due: lint, format:fix

Remove db call to look up entry on click
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

Fix vector import
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

Fix duplicate element ids in LIC page
  src/app/life-in-colour/page.tsx
  src/lib/getEntriesOld.js
Due: lint, format:fix, eslint, prettier --write

Add journal entry to popup
  src/components/Entry.module.css
  src/components/Entry.tsx
Due: lint, format:fix

fuyn name
  src/app/life-in-colour/page.tsx
  src/components/DetailsModal.tsx
  src/lib/models.js
Due: lint, format:fix, eslint, prettier --write

final push
  src/app/mood/page.js
  src/components/DetailsModal.tsx
  src/lib/models.ts
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

dodgy import
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

ts errors need fixing for vercel
  src/components/DetailsModal.tsx
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

fix: next config file
  jest.config.ts
  next.config.js
  package-lock.json
  src/app/life-in-colour/page.tsx
  src/test/datehelpers.test.ts
  src/test/lifeincolour.test.tsx
Due: lint, format:fix, eslint, prettier --write

fix: config file
  next.config.js
Due: lint, format:fix, eslint, prettier --write

detailsMOdalProp mood was string but should have been number
  src/components/DetailsModal.tsx
Due: lint, format:fix

initial state not null
  src/components/DetailsModal.tsx
Due: lint, format:fix

intial state include user id
  src/components/DetailsModal.tsx
  src/lib/models.ts
Due: lint, format:fix, eslint, prettier --write

as this and as something else
  src/components/DetailsModal.tsx
Due: lint, format:fix

save file ffs
  src/components/DetailsModal.tsx
Due: lint, format:fix

added notes to SST
  sst.md
Due: none

added notes to sst
  sst.md
Due: none

max
  src/components/DetailsModal.tsx
Due: lint, format:fix

date max intiial
  src/components/DetailsModal.tsx
Due: lint, format:fix

logout
  src/app/layout.js
  src/components/Logout.module.css
  src/components/Logout.tsx
Due: lint, format:fix, eslint, prettier --write

Style life in colour
  src/app/globals.css
  src/app/life-in-colour/page.module.css
  src/app/life-in-colour/page.tsx
  src/components/Entry.module.css
  src/components/Entry.tsx
Due: lint, format:fix

Prettier
  src/app/life-in-colour/page.tsx
  src/components/Entry.module.css
  src/components/Entry.tsx
Due: lint, format:fix

Co-authored-by: Zakarie Yaris <info@zakariya.me>
  src/app/login/page.js
  src/lib/browser/session.js
  src/lib/spotifyLogin.js
Due: lint, format:fix, eslint, prettier --write

saving progress
  src/lib/browser/session.js
  src/lib/spotifyLogin.js
Due: lint, format:fix, eslint, prettier --write

fixed key error on the home page
  package-lock.json
  package.json
  src/app/page.js
Due: lint, format:fix, eslint, prettier --write

fixed key error on the home page
  src/components/Logout.tsx
Due: lint, format:fix

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format:fix: any of: *.{js,jsx,ts,tsx}
  eslint: ((any of: *.ts) or (any of: **/*.{js,jsx})) or (any of: *.html)
  prettier --write: (((any of: *.ts) or (any of: **/*.{js,jsx})) or (any of: *.html)) or (any of: *.scss)
