Repository fac27/mood-map: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, format:fix, eslint, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["lint", "format:fix"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "**/*.{js,jsx}": ["eslint", "prettier --write"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}

Fix more possible nulls
  src/app/page.tsx
Due: lint, format:fix

refactor: mood and login pages
  src/app/login/page.tsx
  src/app/mood/page.tsx
Due: lint, format:fix

logout conditional
  src/app/layout.tsx
  src/app/mood/page.tsx
  src/components/Logout.module.css
Due: lint, format:fix

added auth tempaltes
  middleware.ts
  package-lock.json
  package.json
  src/app/auth/callback/route.ts
  src/app/login/page.js
  src/components/Login.tsx
  src/types/types.ts
  types.ts
Due: lint, format:fix, eslint, prettier --write

fix: husky
  middleware.ts
  src/app/auth/callback/route.ts
  src/app/login/page.js
  src/components/Login.tsx
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

fix: typo on page.tsx for login
  src/app/mood/page.tsx
Due: lint, format:fix

initial
  src/app/life-in-colour/components/GridDays.tsx
  src/app/life-in-colour/page.tsx
  src/app/login/components/LoginForm.tsx
  src/app/login/page.js
  src/app/login/page.tsx
  src/app/mood/components/MoodPicker.jsx
  src/app/mood/page.js
  src/app/mood/page.tsx
Due: lint, format:fix, eslint, prettier --write

refactored mood page
  src/app/mood/page.tsx
Due: lint, format:fix

Adde padding to bottom of page container
  src/app/life-in-colour/page.module.css
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

not working stuff :(
  src/app/login/page.tsx
  src/middleware.ts
Due: lint, format:fix, eslint, prettier --write

added next auth
  package-lock.json
  package.json
  src/app/login/page.tsx
  src/components/Login.tsx
  types.ts
Due: lint, format:fix, eslint, prettier --write

mood page working
  src/app/life-in-colour/components/GridDays.tsx
  src/app/login/components/LoginForm.tsx
  src/app/mood/components/MoodPicker.jsx
  src/app/mood/page.tsx
  src/components/Navbar.tsx
  tsconfig.json
Due: lint, format:fix, eslint, prettier --write

wrokgin
  src/app/life-in-colour/components/GridDays.tsx
  src/app/life-in-colour/page.tsx
  src/app/mood/page.tsx
  src/components/Navbar.tsx
  tsconfig.json
Due: lint, format:fix

nvabr server side
  src/app/life-in-colour/components/GridDays.tsx
  src/app/life-in-colour/page.tsx
  src/components/Navbar.tsx
Due: lint, format:fix

Remove padding from emojis
  public/images/emo1.svg
  public/images/emo2.svg
  public/images/emo3.svg
  public/images/emo4.svg
  public/images/emo5.svg
Due: none

Add left margin to emoji on home route
  src/app/page.tsx
Due: lint, format:fix

wokring
  src/.middleware.ts
Due: lint, format:fix, eslint, prettier --write

merge ts error
  src/app/mood/components/MoodPicker.tsx
  src/app/mood/page.tsx
Due: lint, format:fix

attemp 3
  src/app/mood/components/MoodPicker.tsx
  src/app/mood/page.tsx
Due: lint, format:fix

fixed entries object and added in redirect to login page
  src/app/login/page.tsx
  src/app/page.tsx
Due: lint, format:fix

type ??
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

remove react types
  src/app/life-in-colour/page.tsx
Due: lint, format:fix

removed redundant files and added error handling
  middleware.ts
  src/app/login/page.tsx
  src/types/types.ts
Due: lint, format:fix, eslint, prettier --write

fix: husky
  src/app/login/page.tsx
Due: lint, format:fix

refactored auth
  src/app/login/components/LoginForm.tsx
  src/app/login/page.tsx
  src/app/page.tsx
Due: lint, format:fix

initial
  src/app/life-in-colour/components/GridDays.tsx
  src/app/life-in-colour/page.tsx
  src/app/login/components/LoginForm.tsx
  src/app/login/page.tsx
  src/app/mood/components/MoodPicker.jsx
  src/app/mood/page.tsx
Due: lint, format:fix, eslint, prettier --write

refactor: mood and login pages
  src/app/login/page.tsx
Due: lint, format:fix

merge ts error
  src/app/mood/page.tsx
Due: lint, format:fix
